@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Cursive Fonts */
@font-face {
    font-family: "DNealian";
    src: url("/fonts/dncursive-2.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FifthGradeCursive";
    src: url("/fonts/5thgradecursive-2.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
